*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
    width: 100%;
    height: 600px;
    background: rgb(171, 182, 16);
    font-family: 'arial' 'sans-serif';
    display:flex; 
    justify-content:center;
    align-items:center;
}

.fundo{
    display: flex;  
    flex-direction:row;
    justify-content: center;
    align-items: center;
    border-color: solid black 2px;
    gap: 20px;
  
}

.bemVindo{
    width: 60%;
    height: 400px;
    background: rgb(91, 116, 91);
    border-radius: 15px;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

}

.acessar{
    width: 60%;
    height: 400px;
    background: rgb(219, 230, 219);
    border-radius: 15px;
    gap: 10px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.acessar p{
    padding-bottom: 20px;
    color:grey;
    font-size: 20px;
}
.social {
    list-style-type: none; 
    padding: 0;
    display: flex;
    gap: 5px;
}

.social li {
    width: 50px;   
    height: 50px; 
    background-color: #333; 
    color: white; 
    border-radius: 50%; 
    display: flex;
    justify-content: center; 
    align-items: center;      
    font-weight: bold;
}   
.fundo button{
    width: 120px;
    height: 50px;
    padding: 10px 20px;
    border-radius:10px;
    background: rgb(172, 134, 9);
    color:white;
    cursor: pointer;
}

form{
    display:flex;
    flex-direction:column;
    gap: 10px 20px; 
}

input{
    width: 300px;
    height: 40px;
    padding: 10px 20px;
    border-radius:10px;
    border: solid black 2px;
}