*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body {
    width: 100%;
    height: 800px;
    background: rgb(171, 182, 16);
    font-family: 'arial' 'sans-serif';
    display:flex; 
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
}

body p {
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 40px 20px;
   
}

.titulo {
    width: 100%;
    height: 50px;
    background: rgb(171, 182, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    background: black;
    color:white;
    display: flex;
    justify-content:center;
    align-items: center;
}

.search {
    width: 32%;
    height: 30px;
    background: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search img {
    width: 10%;
    height: 20px;
    margin-right: 10px;
}

.promo {
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.login a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display:flex;
    justify-content: flex-start;
}

.navegacao {
    width: 100%;
    height: 30px;
    background: rgb(218, 94, 22);
  
}

.navegacao a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navegacao a:hover {
    color: rgb(110, 10, 10);
    transform: translateY(-3px);
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: white;  
}

.produtos {
    width: 100%;
    height: 400px;
    background: rgb(171, 182, 16);
    white-space: nowrap;
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.produtos .item {
    width: 30%;
    height: 350px;
    background: white;
    border:solid orange 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item img {
    width: 200px;
    height: 180px;
    background: white;
}


.item p {
    color: rgb(71, 32, 32);
    font-size: 20px;
    font-weight: bold;
}

.produtos p {
    color: rgb(71, 32, 32);
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: flex-start;
    padding: 0px 20px;
}

.produtos .item button{
  width:31%;
  padding: 10px 20px;
  border-radius:10px;
  background: rgb(172, 134, 9);
  color:white;
  cursor: pointer;
}

.produtos .item button:hover{
  background: rgb(218, 94, 22);
  transform: translateY(5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.destaques {
    width: 100%;
    height: 300px;
    white-space: nowrap;
    background: rgb(171, 182, 16);
    border:solid orange 2px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.destaques .item {
    width: 25%;
    height: 260px;
    background:white;
    border:solid orange 2px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.destaques .item img {
    width: 200px;
    height: 160px;
    padding: 0px 40px;
    padding-bottom: 40px;
}

.destaques .item button{
  width:31%;
  padding: 10px 20px;
  border-radius:10px;
  background: rgb(172, 134, 9);
  color:white;
  cursor: pointer;
}

 .destaques .item button:hover{
  background: rgb(218, 94, 22);
  transform: translateY(5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.footer {
    width: 100%;
    height: 80px;
    background: rgb(218, 94, 22);
    padding: 5% 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footer .contato {
    width: 40%;
    height: 60px;
    background: lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

